header.header.header-wrap
  .container
    .header__top 
      .header__top-left 
        .socials.socials--header
          - var socials = {'vk':'http://vk.com','github':'http://github.com','in':'http://linkedin.com'}
            each value,key in socials
              a(href=`${value}` target="_blank").socials__link
                +icon(key, 'socials__img socials__img--header svg', 'ссылка на '+ key)
                span.visually-hidden ссылка на #{key}
      .header__top-right
          +icon('hamburger', 'hamburger  svg', 'меню')
          span.visually-hidden меню
    .header__middle 
      .header__middle-wrap
      .card.card--header
              +image('photo/photo.png', 'фото разработчика', 'card__img')
              

   

