header.header.header-wrap
  .container
    .header__top 
      .header__top-left 
        .socials.socials--header
          - var socials = {'vk':'http://vk.com','github':'http://github.com','in':'http://linkedin.com'}
            each value,key in socials
              

   

