

.contact {


    &__link {
        color: #455a64;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        transition: color 0.5s;
        &:hover {
            color: $green;
        }
    }
}