

.contact {

    &__img {
        max-height: 20px;
        max-width: 30px;
        margin-right: 10px;
        margin-bottom: 20px;
        fill: $green; // border: 1px solid #000000;
    }
    &__link {
        color: #455a64;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        transition: color 0.5s;
        &:hover {
            color: $green;
        }
    }
}