.container {
    max-width: 1800px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    // border: 1px solid #000000;
}

.header-wrap {
    height: 600px;
    background: url('assets/images/welcome/mountains_for_parallax.jpg');
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; // height: 600px;
    // border: 1px solid #000000;
    &__top {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        width: 100%; // margin-right: 30px;
        // border: 1px solid #000000;
        width: 100%;
        &-left {
            margin-left: 30px; // border: 1px solid #000000;
        }
        &-right {
            // border: 1px solid #000000;
            width: 40px;
            height: 35px;
            margin-right: 30px;
        }
    }
    &__middle {
        // border: 1px solid #000000;
        height: 300px;
        width: 100%;
        &-wrap {
            width: 100%;
            height: 100%; // border: 1px solid #000000;
            display: flex;
            flex-direction: column;

    }



