.welcome-wrap {
    height: 100vh;
    background: url('assets/images/welcome/mountains_for_parallax.jpg');
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome {
  
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    &__center-wrap{
        flex-direction: column;
        justify-content: space-between;
    }
    &__top {
        align-self: flex-end;
   
    }



}